:root {
  --bg-color-primary: #0d47a1;
  --bg-color-secondary: #161C20;
  --text-color-primary: #000000;
  --text-color-secondary: #FFFFFF;
  --link-color: #3976DC;

  --border-color: #808080;
  --icon-bg-color: #72797A;
  --icon-bg-color-hover: #2B3C45;
  --input-color: #B2B2B2;
}

.bg-color {
  darkcolor: #161C20;
  asscolor: #F3F3F3;
  lightasscolor: #929292;
  whitecolor: #FFFFFF;
  textlinkcolor: #3976DC;
  darktextcolor: #2A2C32;
  bg: #181818
}

.container {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  margin-bottom: 3px;
}

/* Custum Theme class [START] */
.app-bg-primary {
  background-color: var(--bg-color-primary) !important;
}
.app-bg-secondary {
  background-color: var(--bg-color-secondary) !important;
}

.app-text-primary {
  color: var(--text-color-primary) !important;
}

.app-text-secondary {
  color: var(--text-color-secondary) !important;
}

.app-link-color {
  color: var(--link-color);
}

/* Custum Theme class [END] */

input:focus, button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}

a:link, a:visited {
  text-decoration: none;
}

#search {
  width: 470px;
}