:root {
  --bg-primary: #72797A;
  --text-primary: #000000;
  --text-secondary: #FFFFFF;
  --link-color: #19c;
  --border-color: #808080;
  --icon-bg-color: #72797A;
  --icon-bg-color-hover: #2B3C45;
  --input-color: #B2B2B2;
}

.container {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
}

/* .container {
  color: var(--blue);
  background-color: var(--white);
  font-size: var(--fontsize);
} */

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

a:link, a:visited {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  margin-bottom: 3px;
}

#search {
  width: 470px;
}